/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #202231cc;
    background-alt: #20223100;
    foreground:     #d1918fcc;
    selected:       #709bbdcc;
    active:         #98C379cc;
    urgent:         #E06C75cc;
}
